<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		XrZ/n4QJucP3OXNWM8vfkhITk9DhO9D0ZLGypqFa0tw=
		</data>
		<key>appIconHash</key>
		<data>
		WQl68/+5t5HWXOrv88FZLnLG8C6yy0ULd8s1etuu3/E=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
